body {
    font-family: "Trebuchet MS","Lucida Sans Unicode","sans-serif";
    background-image: url(../images/macosmontereywallpaper.jpeg);
    background-size: cover;
}
h1 {
    color:goldenrod;
}

