body {
    font-family: "Trebuchet MS","Lucida Sans Unicode","sans-serif";
    /* background-image: url(../images/macosmontereywallpaper.jpeg); */
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
    min-width: 400px;
}
#Blackjack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(77, 255, 0);
    margin: 0px;
    padding: 20px;

}
h1 {
    color:white;
}
button {
    font-size: large;
    color: white;
    background-color:rgba(89, 27, 27, 0.5);
    width: 150px;
    border: none;
    border-radius: 4px;
    margin: 2.5px;
    padding: 2.5px;
}

#delete-btn {
    background-color:rgb(255, 0, 0);
    /* background: white; */
}
ul {
    list-style: none;

}
ul li{
    margin-top: 5px;
}
ul li a {
    color: white;
    margin-top: 5px;
}

#plug-in {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 255, 238);
}
